 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

p.summary {
  font-weight: bold;
  float:left;
  clear:both;
}

.todo-action {
  float:left;
}

.save {
  @extend .todo-action;
  display:none;
}

.delete {
  @extend .todo-action;
}

.edit {
  @extend .todo-action;
}

.complete {
  @extend .todo-action;
}

.completed {
  text-decoration:line-through;
}
